/org.entirej.core.runtime/target
/org.entirej.core.runtime/bin
/org.entirej.ide.cf.swing/bin
/org.entirej.ide.cf.swing/target
/org.entirej.ext.oracle/bin
/org.entirej.ext.oracle/target
/org.entirej.ide.cf.rwt/bin
/org.entirej.ide.cf.rwt/target
/org.entirej.ide.compatibility/classes
/org.entirej.ide.compatibility/target
/org.entirej.ide.core/bin
/org.entirej.ide.core/target
/org.entirej.ide.feature/target
/org.entirej.ide.site/target
/org.entirej.ide.ui/bin
/org.entirej.ide.ui/target
/org.entirej.ide.ui.form/bin
/org.entirej.ide.ui.form/target
/org.entirej.ide.ui.report/bin
/org.entirej.ide.ui.report/target
/org.entirej.ext.mysql/target
/org.entirej.ext.hsql/bin
/org.entirej.ext.hsql/target
/org.entirej.ext.mysql/bin
/org.entirej.ide.cf.fx/target
/org.entirej.ide.cf.fx/bin
/org.entirej.ide.report.feature/target
/org.entirej.development/target
/org.entirej.ide.upload/target
/org.entirej.ide.libs/target
/org.entirej.ext.jasper/bin
/org.entirej.ext.jasper/target
/org.entirej.fx.feature/target
/org.entirej.ide.report.site/target

