<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.entirej.ide.ui.EJPerspective"
            icon="$nl$/icons/etools16/entirej.png"
            id="org.entirej.ide.ui.perspective"
            name="%perspective.name">
         <description>
            %perspective.description
         </description>
      </perspective>
   </extension>
      <extension
         id="org.entirej.ide.EJFormConstBuilder"
         name="EntireJ Form Constants Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.entirej.ide.ui.editors.form.builder.EJFormConstBuilder">
         </run>
      </builder>
   </extension>
<extension point="org.eclipse.ui.decorators"> 
<decorator
      adaptable="true"
      class="org.entirej.ide.ui.decorators.FormNameDecorator"
      id="org.entirej.ide.decorator.form.file"
      label="EntireJ Form Names"
      lightweight="true"
      objectClass="org.eclipse.core.resources.IFile"
      state="true"> 
    <description> 
      Decorates the labels of elements to indicate  EntireJ form names.
    </description> 
  </decorator> 
</extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.entirej.ide.ui.editors.prop.EJPropertiesEditor"
            contributorClass="org.entirej.ide.ui.editors.AbstractActionBarContributor"
            default="true"
            icon="icons/etools16/entirej.png"
            id="org.entirej.ide.ui.editors.ej.properties"
            name="%org.entirej.ide.ui.editors.ej.properties.name">
         <contentTypeBinding
               contentTypeId="org.entirej.ide.ui.editors.ej.properties.file">
         </contentTypeBinding>
      </editor>
      <editor
            class="org.entirej.ide.ui.editors.form.EJFormEditor"
            contributorClass="org.entirej.ide.ui.editors.AbstractActionBarContributor"
            default="true"
            extensions="form"
            icon="icons/obj16/form.png"
            id="org.entirej.ide.ui.editors.ej.form"
            name="%org.entirej.ide.ui.editors.ej.form.name">
         <contentTypeBinding
               contentTypeId="org.entirej.ide.ui.editors.ej.form.file">
         </contentTypeBinding>
      </editor>
      <editor
            class="org.entirej.ide.ui.editors.form.EJRefBlockEditor"
            contributorClass="org.entirej.ide.ui.editors.AbstractActionBarContributor"
            default="true"
            extensions="block"
            icon="icons/obj16/block_ref.png"
            id="org.entirej.ide.ui.editors.ej.block"
            name="%org.entirej.ide.ui.editors.ej.refblock.name">
         <contentTypeBinding
               contentTypeId="org.entirej.ide.ui.editors.ej.refblock.file">
         </contentTypeBinding>
      </editor>
      <editor
            class="org.entirej.ide.ui.editors.form.EJRefLovEditor"
            contributorClass="org.entirej.ide.ui.editors.AbstractActionBarContributor"
            default="true"
            extensions="lovdef"
            icon="icons/obj16/lov_ref.png"
            id="org.entirej.ide.ui.editors.ej.lov"
            name="%org.entirej.ide.ui.editors.ej.reflov.name">
         <contentTypeBinding
               contentTypeId="org.entirej.ide.ui.editors.ej.reflov.file">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-names="application.ejprop"
            id="org.entirej.ide.ui.editors.ej.properties.file"
            name="%org.entirej.ide.ui.editors.ej.properties.file.name"
            priority="high">
      </content-type>
      <content-type
            file-extensions="form"
            id="org.entirej.ide.ui.editors.ej.form.file"
            name="%org.entirej.ide.ui.editors.ej.form.file.name"
            priority="high">
      </content-type>
      <content-type
            file-extensions="block"
            id="org.entirej.ide.ui.editors.ej.refblock.file"
            name="%org.entirej.ide.ui.editors.ej.refblock.file.name"
            priority="high">
      </content-type>
      <content-type
            file-extensions="lovdef"
            id="org.entirej.ide.ui.editors.ej.reflov.file"
            name="%org.entirej.ide.ui.editors.ej.reflov.file.name"
            priority="high">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.entirej.ide.ui.EJ"
            name="%new.entirej.category.name">
      </category>
      <wizard
            category="org.entirej.ide.ui.EJ"
            class="org.entirej.ide.ui.wizards.project.NewEntireJProjectWizard"
            finalPerspective="org.entirej.ide.ui.perspective"
            icon="$nl$/icons/etools16/newejprj_wiz.png"
            id="org.entirej.ide.ui.wizards.NewEntireJProjectWizard"
            name="%new.entirejProject.name"
            project="true">
         <description>
            %new.entirejProject.description
         </description>
      </wizard>
      <wizard
            category="org.entirej.ide.ui.EJ"
            class="org.entirej.ide.ui.wizards.form.NewEntireJFormWizard"
            finalPerspective="org.entirej.ide.ui.perspective"
            icon="icons/etools16/newejform_wiz.png"
            id="org.entirej.ide.ui.wizards.NewEntireJFormWizard"
            name="%new.entirejForm.name"
            project="false">
         <description>
            %new.entirejForm.description
         </description>
      </wizard>
      <wizard
            category="org.entirej.ide.ui.EJ"
            class="org.entirej.ide.ui.wizards.form.NewEntireJRefBlockWizard"
            finalPerspective="org.entirej.ide.ui.perspective"
            icon="icons/etools16/newejrefblock_wiz.png"
            id="org.entirej.ide.ui.wizards.NewEntireJRefBlockWizard"
            name="%new.entirejRefBlock.name"
            project="false">
         <description>
            %new.entirejForm.description
         </description>
      </wizard>
      <wizard
            category="org.entirej.ide.ui.EJ"
            class="org.entirej.ide.ui.wizards.service.NewEJPojoServiceWizard"
            finalPerspective="org.entirej.ide.ui.perspective"
            icon="icons/etools16/newejbservice_wiz.png"
            id="org.entirej.ide.ui.wizards.NewEJPojoServiceWizard"
            name="%new.entirejbservice.name"
            project="false">
         <description>
            %new.entirejbservice.description
         </description>
      </wizard>
      <wizard
            category="org.entirej.ide.ui.EJ"
            class="org.entirej.ide.ui.wizards.form.NewEntireJRefLovWizard"
            finalPerspective="org.entirej.ide.ui.perspective"
            icon="icons/etools16/newejreflov_wiz.png"
            id="org.entirej.ide.ui.wizards.NewEntireJRefLovWizard"
            name="%new.entirejRefLov.name"
            project="false">
         <description>
            %new.entirejForm.description
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.entirej.ide.ui.ActionSet"
            label="EntireJ">
         <action
               class="org.entirej.ide.ui.wizards.form.NewRefLovAction"
               icon="icons/etools16/newejreflov_wiz.png"
               id="org.entirej.ide.ui.wizards.form.NewRefLovAction"
               label="%new.entirejRefLov.name"
               toolbarPath="entirejGroup"
               tooltip="%new.entirejRefLov.description">
         </action>
         <action
               class="org.entirej.ide.ui.wizards.form.NewRefBlockAction"
               icon="icons/etools16/newejrefblock_wiz.png"
               id="org.entirej.ide.ui.wizards.form.NewRefBlockAction"
               label="%new.entirejRefBlock.name"
               toolbarPath="entirejGroup"
               tooltip="%new.entirejRefBlock.description">
         </action>
         <action
               class="org.entirej.ide.ui.wizards.form.NewFormAction"
               icon="icons/etools16/newejform_wiz.png"
               id="org.entirej.ide.ui.wizards.form.NewFormAction"
               label="%new.entirejForm.name"
               toolbarPath="entirejGroup"
               tooltip="%new.entirejForm.description">
         </action>
         <action
               class="org.entirej.ide.ui.wizards.service.NewPojoServiceAction"
               icon="icons/etools16/newejbservice_wiz.png"
               id="org.entirej.ide.ui.wizards.service.NewPojoServiceAction"
               label="%new.entirejbservice.name"
               toolbarPath="entirejGroup"
               tooltip="%new.entirejbservice.description">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.entirej.ide.core.spi.blockservicecontent.provider">
      <provider
            class="org.entirej.ide.ui.wizards.db.TableBlockServiceContentProvider">
      </provider>
      <provider
            class="org.entirej.ide.ui.wizards.db.StatementBlockServiceContentProvider">
      </provider>
      <provider
            class="org.entirej.ide.ui.wizards.custom.CustomBlockServiceContentProvider">
      </provider>
   </extension>
<extension
         point="org.entirej.ide.core.spi.ejpropertiesvalidate.provider">
      <provider
            class="org.entirej.ide.ui.editors.prop.EJPropertiesValidateImpl">
      </provider>
   </extension>
<extension
      point="org.entirej.ide.core.spi.ejformvalidate.provider">
   <provider
         class="org.entirej.ide.ui.editors.form.EJFormValidateImpl">
   </provider>
</extension>
<extension
      point="org.eclipse.ltk.core.refactoring.renameParticipants">
            <renameParticipant
            class="org.entirej.ide.ui.refactoring.EJPropertiesPackageRenameParticipant"
            id="org.entirej.ide.refactoring.EJPropertiesPackageRenameParticipant"
            name="EJProperties Rename Package Participant">
         <enablement>
            <with
                  variable="element">
               <instanceof
                     value="org.eclipse.jdt.core.IPackageFragment">
               </instanceof>
            </with>
         </enablement>        
      </renameParticipant>
       <renameParticipant
            class="org.entirej.ide.ui.refactoring.EJFormPackageRenameParticipant"
            id="org.entirej.ide.refactoring.EJFormPackageRenameParticipant"
            name="EJForm Rename Package Participant">
         <enablement>
            <with
                  variable="element">
               <instanceof
                     value="org.eclipse.jdt.core.IPackageFragment">
               </instanceof>
            </with>
         </enablement>        
      </renameParticipant>
            <renameParticipant
            class="org.entirej.ide.ui.refactoring.EJPropertiesTypeRenameParticipant"
            id="org.entirej.ide.refactoring.EJPropertiesTypeRenameParticipant"
            name="EJProperties Rename Type Participant">
         <enablement>
            <with
                  variable="element">
               <instanceof
                     value="org.eclipse.jdt.core.IType">
               </instanceof>
            </with>
         </enablement>        
      </renameParticipant>
      <renameParticipant
            class="org.entirej.ide.ui.refactoring.EJFormTypeRenameParticipant"
            id="org.entirej.ide.refactoring.EJFormTypeRenameParticipant"
            name="EJForm Rename Type Participant">
         <enablement>
            <with
                  variable="element">
               <instanceof
                     value="org.eclipse.jdt.core.IType">
               </instanceof>
            </with>
         </enablement>        
      </renameParticipant>
      <renameParticipant
            class="org.entirej.ide.ui.refactoring.EJLovDefRenameParticipant"
            id="org.entirej.ide.refactoring.EJLovDefRenameParticipant"
            name="EJForm Rename Lov Def Participant">
         <enablement>
            <with
                  variable="element">
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
            </with>
         </enablement>        
      </renameParticipant>
            <renameParticipant
            class="org.entirej.ide.ui.refactoring.EJRefBlockDefRenameParticipant"
            id="org.entirej.ide.refactoring.EJRefBlockDefRenameParticipant"
            name="EJForm Rename Referenced block Def Participant">
         <enablement>
            <with
                  variable="element">
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
            </with>
         </enablement>        
      </renameParticipant>
            <renameParticipant
            class="org.entirej.ide.ui.refactoring.EJFormConstantsRenameParticipant"
            id="org.entirej.ide.refactoring.EJFormRenameParticipant"
            name="EJForm Rename Constants Participant">
         <enablement>
            <with
                  variable="element">
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
            </with>
         </enablement>        
      </renameParticipant>
</extension>
<extension
         point="org.eclipse.ltk.core.refactoring.moveParticipants">
      <moveParticipant
            class="org.entirej.ide.ui.refactoring.EJPropertiesTypeMoveParticipant"
            id="org.entirej.ide.refactoring.EJPropertiesTypeMoveParticipant"
            name="EJProperties Move Type Participant">
         <enablement>
            <with
                  variable="element">
               <instanceof
                     value="org.eclipse.jdt.core.IType">
               </instanceof>
            </with>
         </enablement>        
      </moveParticipant>
      <moveParticipant
            class="org.entirej.ide.ui.refactoring.EJPropertiesPackageMoveParticipant"
            id="org.entirej.ide.refactoring.EJPropertiesPackageMoveParticipant"
            name="EJProperties Move Package Participant">
         <enablement>
            <with
                  variable="element">
               <instanceof
                     value="org.eclipse.jdt.core.IPackageFragment">
               </instanceof>
            </with>
         </enablement>        
      </moveParticipant>
      <moveParticipant
            class="org.entirej.ide.ui.refactoring.EJFormPackageMoveParticipant"
            id="org.entirej.ide.refactoring.EJFormPackageMoveParticipant"
            name="EJForm Move Package Participant">
         <enablement>
            <with
                  variable="element">
               <instanceof
                     value="org.eclipse.jdt.core.IPackageFragment">
               </instanceof>
            </with>
         </enablement>        
      </moveParticipant>
      <moveParticipant
            class="org.entirej.ide.ui.refactoring.EJFormTypeMoveParticipant"
            id="org.entirej.ide.refactoring.EJFormTypeMoveParticipant"
            name="EJForm Move Type Participant">
         <enablement>
            <with
                  variable="element">
               <instanceof
                     value="org.eclipse.jdt.core.IType">
               </instanceof>
            </with>
         </enablement>        
      </moveParticipant>
      
</extension>
<extension
      point="org.eclipse.ltk.core.refactoring.deleteParticipants">
   <deleteParticipant
          class="org.entirej.ide.ui.refactoring.EJFormTypeDeleteParticipant"
            id="org.entirej.ide.refactoring.EJFormTypeDeleteParticipant"
            name="EJForm Delete Type Participant">
         <enablement>
            <with
                  variable="element">
               <instanceof
                     value="org.eclipse.jdt.core.IType">
               </instanceof>
            </with>
         </enablement>        
   </deleteParticipant>
</extension>
</plugin>
