<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.entirej.ide.ui.EJ"
            name="%new.entirej.category.name">
      </category>
      <wizard
            category="org.entirej.ide.ui.EJ"
            class="org.entirej.ide.ui.wizards.features.NewEntireJFeatureWizard"
            finalPerspective="org.entirej.ide.ui.perspective"
            icon="icons/etools16/newfeature_wiz.gif"
            id="org.entirej.ide.ui.wizards.NewEntireJFeatureWizard"
            name="EntireJ Feature"
            project="false">
         <description>
            Add a feature to EntireJ project.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.entirej.ide.core.spi.blockservicecontent.provider">
      <provider
            class="org.entirej.ide.ui.wizards.db.TableBlockServiceContentProvider">
      </provider>
      <provider
            class="org.entirej.ide.ui.wizards.db.StatementBlockServiceContentProvider">
      </provider>
      <provider
            class="org.entirej.ide.ui.wizards.custom.CustomBlockServiceContentProvider">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.entirej.ide.ui.EJUIPlugin">
      </startup>
   </extension>

</plugin>
