<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

    <extension
          point="org.entirej.ide.core.spi.databaseconnectivity.exportProvider">
       <provider
             class="org.entirej.ext.hsql.HSQLDBConnectivityProvider">
       </provider>
    </extension>
<extension
       point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
          id="org.eclipse.hsql.runtime.EJ_HSQL_CONTAINER"
          class="org.entirej.ext.hsql.lib.HSQLRuntimeClasspathContainerInitializer"/>
   </extension>   
<extension 
       point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
          id="org.eclipse.hsql.runtime.EJ_HSQL_CONTAINER"
          name="EntireJ H2 Database Runtime"
          class="org.entirej.ext.hsql.lib.HSQLRuntimeContainerPage"/>
   </extension>
</plugin>
