<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.entirej.ide.core.spi.clientframework.exportProvider">
      <provider
            class="org.entirej.ide.cf.rwt.RWTClientFrameworkProvider">
      </provider>
   </extension>
  
    
  

<extension
      point="org.entirej.ide.core.spi.featureconfig.provider">
   <provider
         class="org.entirej.ide.cf.rwt.SpringFeatureConfigProvider">
   </provider>
   <provider
         class="org.entirej.ide.cf.rwt.SpringKerberosFeatureConfigProvider"></provider>
</extension>

        
</plugin>
