<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target name="entirej-e37" sequenceNumber="5">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.platform.ide" version="3.7.1.M20110909-1335"/>
<repository location="http://download.eclipse.org/releases/indigo"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.gef.sdk.feature.group" version="3.10.1.201508170204"/>
<repository location="http://www.eclipse.org/modeling/amalgam/downloads/package/modeling/mars/"/>
</location>
</locations>
</target>